<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sub-page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <ion-button expand="block" (click)="navCtrl.back()">
      Go Back using NavController back()
    </ion-button>

    <ion-button expand="block" (click)="navCtrl.navigateRoot('/tabs')">
      Go Back using NavController navigateRoot()
    </ion-button>

    <ion-button expand="block" (click)="navCtrl.navigateBack('/tabs')">
      Go Back using NavController navigateBack()
    </ion-button>

    <ion-button expand="block" (click)="navCtrl.pop()">
      Go Back using NavController pop()
    </ion-button>
  </div>

<!-- <ion-list *ngIf="items.length > 0">
  <ion-list class="ion-margin">

    <ion-list-header>
      Products list
    </ion-list-header>

    <ion-item *ngFor="let item of items; let i = index" lines="full">
      <ion-label>
        {{ item?.name }}
        <p>ID #{{ item?.id }}</p>
      </ion-label>
      <ion-text slot="end">{{ item?.price }}</ion-text>
    </ion-item>

    <app-product-dumb [item_data]="item"></app-product-dumb>

  </ion-list>    
</ion-list> -->

<!-- <ion-list *ngIf="items.length > 0">
  <ion-list class="ion-margin">

    <ion-list-header>
    </ion-list-header>

    <ion-item *ngFor="let item of items; let i = index" lines="full">
      <ion-label>
        {{ item?.name }}
        <p>ID #{{ item?.id }}</p>
      </ion-label>
      <ion-text slot="end">{{ item?.price }}</ion-text>
    </ion-item>

    <app-product-dumb [item_data]="item"></app-product-dumb>

  </ion-list>    
</ion-list> -->

  <app-product-smart [isHome]="false"></app-product-smart>

</ion-content>
