<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item *ngFor="let item of items; let i = index" lines="full">
     
    <ion-label>
      {{ item?.name }}
      <p>ID #{{ item?.id }}</p>
    </ion-label>
    <ion-text slot="end">{{ item?.price }}</ion-text>
  
  
  <app-product-dumb [item_data]="item"></app-product-dumb>

  </ion-item> -->

  <app-product-smart></app-product-smart>

</ion-content>
